
body{
  background-color: #333;
  color:white;
  text-align: center;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items: center;
  font-family:Arial;
  }
  h1{
    font-size:48px;
    font-weight: 700;
  }
  .appContainer{
    height:300px;
    width:400px;
    border:rgba(70, 180, 180, 0.863) 4px solid;
    border-radius:10px;
  }
  .loggedout h1{
    background-color: red;
    border:5px;
  }
  .loggedin h1{
    background-color: green
  }
  #app-container{
    background-color: rgb(133, 133, 185);
    border:4px white solid;
    border-radius: 15px;
    height: 300px;
    width: 400px;
    position: relative;
  }
button{
  position: absolute;
  bottom: 0;
  right: 0;

}