
button{
  background-color:rgb(80, 202, 240);
  height:35px;
  color:rgb(99, 95, 95);
  font-weight:bold;
  font-size:18px;
  margin:5px;
  border:none;
  border-radius:5px;
}
button:hover{
  background-color: rgb(118, 214, 231);
  cursor:pointer;
}
button:active{
  background-color: rgb(138, 218, 238);
}